<footer>
    <p>
        © Mohtashim Kamran  <span id="hide">|| All Rights Reserved</span> 
    </p>

    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <% if (locals.user) { %>
            <li>
                <a href="/users/profile/<%= locals.user.id %>">Profile</a>
            </li>
        <% } %>
    </ul>
</footer>