#home-container {
  display: grid;
  grid-template-columns: 70% 20%;
  grid-gap: 10%; }
  #home-container h1 {
    text-decoration: underline; }
  #home-container #feed-posts {
    list-style: none; }
  #home-container #user-fiends {
    padding: 10px;
    border-left: 1px solid lightgray;
    padding: 10px;
    height: 100%; }
